
/*	-----------------------------------------------

	global layout

	----------------------------------------------- */

html, body {height: 100%;}

#wrapper {
	width: 100%;
	min-width: 1000px;
	height: 100%;
	min-height: 100%;
	margin: 0 auto;
	padding: 80px 0;
	box-sizing: border-box;
	position: relative;
}

	div.skipnav {
		position: absolute;
		left: -999999px;
	}


/**
*	header
**/

#header {
	width: 100%;
	background: #dedede;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
}
	#header .header-inner {
		width: 1000px;
		height: 80px;
		background: #cdcdcd;
		margin: 0 auto;
		padding: 20px;
		box-sizing: border-box;
		position: relative;
	}

/*** /header ***/


/**
*	footer
**/

#footer {
	width: 100%;
	background: #dedede;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 2;
}
	#footer .footer-inner {
		width: 1000px;
		height: 80px;
		background: #cdcdcd;
		margin: 0 auto;
		padding: 20px;
		box-sizing: border-box;
		position: relative;
	}

/*** /footer ***/


/**
*	main
**/

#main {
	width: 100%;
	height: 100%;
	background: #cdcdcd;
	position: relative;
	z-index: 1;
}
	#main .main-inner {
		width: 1000px;
		height: 100%;
		background: #fff;
		margin: 0 auto;
		padding: 0 40px;
		box-sizing: border-box;
		position: relative;
	}

	#content {
		width: 920px;
		min-height: 480px;
		/*background: #efefef;*/
		padding: 40px 0;
		box-sizing: border-box;
		position: relative;
	}
	#subcol {
		width: 240px;
		height: 100%;
		background: #efefef;
		padding: 40px 20px;
		box-sizing: border-box;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		display: none;
	}
	#main.twocols #content {
		width: 680px;
	}
	#main.twocols #subcol {
		display: block;
	}

/*** /main ***/


/**
*	misc
**/

/* popups */

body.popup {
	color: #333;
	background: #fff;
}
	body.popup div#wrapper {
		width: auto; /* reset default */
		min-height: 0px; /* reset default */
		margin: 0;
		position: relative;
	}
	body.popup div#content {
		width: auto; /* reset default */
		min-height: 0px; /* reset default */
		margin: 0;
		position: relative;
		float: none;
		display: block;
	}
	body.popup div.head {
		padding: 2px 10px;
		background: #ccc;
		height: 1.5em;
	}
		body.popup div.head a.lnk-close {
			float: right;
			display: inline;
			color: #000;
			font-size: 0.910em;
			line-height: 1.5em;
			text-decoration: none;
		}
			body.popup div.head a.lnk-close span {
				color: #fff;
				font-weight: bold;
			}
	/* 
	body.popup div.foot {
		padding: 2px 10px;
		background: #ccc;
		height: 1.5em;
	} */
	body.popup div.inner {
		padding: 2px 10px;
		/* border: 2px solid #ccc; */
		background: #fff;
		color: #666;
	}

/* /popups */

/*** /misc ***/
